h1{
    background-color: red;
    width: 500px;
}
.papa {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.hij01{
    background-color: black;
}
.hij02{
    background-color: #52d715;
}
.hij03{
    background-color: #0723dc;
}
.hij04{
    background-color: #de8c8c;
}
